SampleService/ConsoleApplication1/Service References/ServiceReference1/SampleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SampleDataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SampleDataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppointmentDurationDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentLength" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentDurationDataContract" nillable="true" type="tns:AppointmentDurationDataContract" />
  <xs:complexType name="ArrayOfAppointmentDurationDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentDurationDataContract" nillable="true" type="tns:AppointmentDurationDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentDurationDataContract" nillable="true" type="tns:ArrayOfAppointmentDurationDataContract" />
  <xs:complexType name="AppointmentTypeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppointmentTypeId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeDescriptor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentTypeDataContract" nillable="true" type="tns:AppointmentTypeDataContract" />
  <xs:complexType name="ArrayOfAppointmentTypeDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentTypeDataContract" nillable="true" type="tns:AppointmentTypeDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentTypeDataContract" nillable="true" type="tns:ArrayOfAppointmentTypeDataContract" />
  <xs:complexType name="AppointmentUrgencyDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="UrgencyDescriptor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UrgencyId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentUrgencyDataContract" nillable="true" type="tns:AppointmentUrgencyDataContract" />
  <xs:complexType name="ArrayOfAppointmentUrgencyDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentUrgencyDataContract" nillable="true" type="tns:AppointmentUrgencyDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentUrgencyDataContract" nillable="true" type="tns:ArrayOfAppointmentUrgencyDataContract" />
  <xs:complexType name="ClinicDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClinicId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClinicDataContract" nillable="true" type="tns:ClinicDataContract" />
  <xs:complexType name="ArrayOfClinicDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClinicDataContract" nillable="true" type="tns:ClinicDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClinicDataContract" nillable="true" type="tns:ArrayOfClinicDataContract" />
  <xs:complexType name="PatientDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientDataContract" nillable="true" type="tns:PatientDataContract" />
  <xs:complexType name="ArrayOfPatientDataContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientDataContract" nillable="true" type="tns:PatientDataContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientDataContract" nillable="true" type="tns:ArrayOfPatientDataContract" />
</xs:schema>